@model IEnumerable<MainSite.Models.Announcement>

@{
    ViewBag.Title = "社區公告";
}

<h4>社區公告管理</h4>
<p>
    @Html.ActionLink("新增公告", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SN)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Category)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td class="align-middle">
            @Html.DisplayFor(modelItem => item.SN)
        </td>
        <td class="align-middle">
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td class="align-middle">
            @Html.DisplayFor(modelItem => item.Category)
        </td>
        <td class="align-middle">
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td class="align-middle">
            @Html.ActionLink("編輯", "Edit", new { sn = item.SN, date = item.Date }, new{ @class = "btn btn-sm btn-outline-dark" }) 
            @Html.ActionLink("詳細", "Details", new { sn = item.SN, date = item.Date }, new { @class = "btn btn-sm btn-outline-dark" }) 
            @Html.ActionLink("刪除", "Delete", new { sn = item.SN, date = item.Date }, new { @class = "btn btn-sm btn-outline-dark" })
        </td>
    </tr>
}

</table>
