@model MainSite.Models.Complaint

@{
    ViewBag.Title = "住戶申訴明細";
}

<h2 class="text-center">抱怨處理</h2>
<div class="bgdetail" style="overflow-y:auto;">
    <div class="customFrom">
        <h4>詳細內容</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Date)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Date)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Resident.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Resident.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Resident.Tel)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Resident.Tel)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Resident.Address)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Resident.Address)
            </dd>
        </dl>
        <div class="form-group">
            <div class="btn-f-c">
                @Html.ActionLink("返回公告列表", "Index", "", new { @class = "btn btn-sm btn-outline-dark float-righ" })
            </div>
        </div>
    </div>
</div>