@model MainSite.Models.Collector

@{
    ViewBag.Title = "刪除代收人|";
}

<h2 class="text-center">刪除代收人</h2>
<div class="bgdetail">
    <div class="customFrom">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Account)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Resident.Account)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ID)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Resident.ID)
            </dd>

        </dl>

        @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-group">
            <div class="btns">
                @Html.ActionLink("返回代收人列表", "Index", "", new { @class = "btn btn-sm btn-outline-dark" })
                <input type="submit" value="確認" class="btn btn-sm btn-outline-dark" />
            </div>
        </div>
    }
    </div>
</div>