@model MainSite.Models.Package

@{
    ViewBag.Title = "Details";
}

<h2 class="text-center">包裹狀態管理</h2>
<div class="bgdetail">
    <div class="customFrom">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Resident.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Resident.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ArrivalDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ArrivalDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.COD)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.COD)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Sign)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Sign)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.SignDate)
            </dt>

            <dd>
                @{
                if(this.Model.SignDate==null)
                {<span>未被領取</span>
                }
                else {@Html.DisplayFor(model => model.SignDate)}
                }
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Signer)
            </dt>

            <dd>
                @{
                if(this.Model.Signer==null)
                {<span>未被領取</span>
                }
                else {@Html.DisplayFor(model => model.Signer)}
                }
            </dd>

        </dl>
        <div class="form-group">
            <div class="btn-f-c">
                @Html.ActionLink("返回包裹列表", "Index", "", new { @class = "btn btn-sm btn-outline-dark" })
            </div>
        </div>
    </div>
</div>