@model MainSite.Models.Package

@{
    ViewBag.Title = "Details";
}

<h2>包裹狀態</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ArrivalDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ArrivalDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sign)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sign)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SignDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SignDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COD)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COD)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Resident.Password)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Resident.Password)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("編輯", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("返回包裹管理", "Index")
</p>
