@model MainSite.Models.Meeting

@{
    ViewBag.Title = "刪除會議紀錄|";
}

<h2 class="text-center">刪除會議紀錄</h2>

<h3 class="text-center">您確定要刪除這則會議紀錄嗎?</h3>
<div class="bgdetail">
    <div class="customFrom">
        <h4>會議記錄</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Date)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Date)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Title)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Title)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ChairmanAccount)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ChairmanAccount)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.URL)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.URL)
            </dd>
        </dl>

        @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            <div class="btns">
                @Html.ActionLink("返回會議列表", "Index", "", new { @class = "btn btn-sm btn-outline-dark" })
                <input type="submit" value="確認" class="btn btn-sm btn-outline-dark ml-5" />
            </div>
        </div>
    }
    </div>
</div>
