@model MainSite.Models.Resident

@{
    ViewBag.Title = "刪除住戶|";
}

<h2 class="text-center">刪除住戶資料</h2>
<h3 class="text-center">您確定要刪除這位住戶嗎?</h3>
<div class="bgdetail" style="overflow-y:auto; ">
    <div class="customFrom">
        <dl class="dl-horizontal" style="width:200px;margin:auto;padding-top:15vh;">
            @*<dt>
            @Html.DisplayNameFor(model => model.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ID)
        </dd>*@

            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Tel)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Tel)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Address)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Address)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Committee)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Committee)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Photo)
            </dt>

            <dd>
                @if (this.Model.Photo == null)
                {
                    <span>無照片</span>
                }
                else
                {
                    @*<a href="/display/@item.Photo">*@
                    <img src="@Url.Action("GetImage", "AdminResident", new { Account = this.Model.Account })" class="card-img-top img-thumbnail img" />
                    @*</a>*@
                }
            </dd>

        </dl>

        @*@using (Html.BeginForm())
            {*@
        <form action="@Url.Action("DeleteConfirmed")" method="post">
            @Html.AntiForgeryToken()

            <div class="btns">
                <input id="Hidden1" name="Account" type="hidden" value="@Model.Account" />
                @Html.ActionLink("返回住戶列表", "Index", "", new { @class = "btn btn-sm btn-outline-dark" })
                <input type="submit" value="確認" class="btn btn-sm btn-outline-dark ml-5" />
            </div>
        </form>
    </div>
</div>

@section partialcss {
    <style>

    </style>
}
