@model IEnumerable<MainSite.Models.Resident>

@{
    ViewBag.Title = "Index";
}


<h4>社區住戶資料管理</h4>
<p>
    @Html.ActionLink("新住戶入住", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Account)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Address)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Photo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Committee)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td class="align-middle">
        @Html.DisplayFor(modelItem => item.ID)
    </td>
    <td class="align-middle">
        @Html.DisplayFor(modelItem => item.Account)
    </td>
    <td class="align-middle">
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td class="align-middle">
        @Html.DisplayFor(modelItem => item.Tel)
    </td>
    <td class="align-middle">
        @Html.DisplayFor(modelItem => item.Address)
    </td>
    <td>
        <div class="fcc" style="height: 60px; display: flex;justify-content: flex-start;align-items: center;">
            @if (item.Photo == null)
            {
                <span>無照片</span>
            }
            else
            {
                @*<a href="/display/@item.Photo">*@
                <img src="@Url.Action("GetImage", "AdminResident", new { Account = item.Account })" class="card-img-top img-thumbnail img" />
                @*</a>*@
            }
        </div>
    </td>
    <td class="align-middle">
        @Html.DisplayFor(modelItem => item.Committee)
    </td>
    <td class="align-middle">
        @Html.ActionLink("編輯", "Edit", new { Account = item.Account }, new { @class = "btn btn-sm btn-outline-dark" }) 
        @*@Html.ActionLink("詳細", "Details", new { Account = item.Account }) |*@
        @Html.ActionLink("刪除", "Delete", new { Account = item.Account }, new { @class = "btn btn-sm btn-outline-dark" })
    </td>
</tr>
}

</table>

@section partialcss{
    <style>
        .img {
            max-height: 60px;
            width: auto;
        }
    </style>
    }